@{
    Layout = null;
}
@model Fz.Core.VModel.SyPassport.LoginModel

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>方直科技</title>
    <link href="@Url.Content("/Content/Tools/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/Styles/default/css/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/Styles/default/css/layout.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/Styles/default/css/common.css")" rel="stylesheet" />
    <link rel="Shortcut Icon" href="@Url.Content("~/favicon.ico?tempid="+(new Random()).Next())">
</head>
<body>
    <div class="wrap m">
        <div class="header">
            <div class="cont">
                <a class="logo" href="javascript:void(0)">logo</a>
                @*<a class="return" href="javascript:void(0)">返回首页</a>*@
            </div>
        </div>

        <div class="main">
            <div class="conts">
                <div class="cont">
                    <div class="loginCont">
                        <h2 id="ExpName">登录智慧校园</h2>
                        @using (Html.BeginForm("Login", "SyPassport", FormMethod.Post, new { @id = "form1" }))
                        {
                            @Html.HiddenFor(m => m.SId)
                            @Html.HiddenFor(m => m.pwd2)
                            <ul>
                                <li class="li li1">
                                    @Html.TextBoxFor(m => m.Account, new { @class = "userName", @placeholder = "用户名" })
                                    @Html.ValidationMessageFor(m => m.Account)
                                </li>
                                <li class="li li2">
                                    @Html.PasswordFor(m => m.Password, new { @class = "userNum", @placeholder = "密码" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </li>
                                <li>
                                    <span class="left">
                                        @Html.CheckBoxFor(m => m.ChkPwd)
                                        <label for="ChkPwd">记住密码</label>
                                    </span>
                                    <span class="right"><a href="javascript:void(0)" onclick="openAlert('提示','请联系学校管理员！')">忘记密码？</a></span>
                                </li>
                                <li class="li3">
                                    <button type="submit" class="loginA">登录</button>
                                </li>
                            </ul>
                        }
                    </div>
                    @*<div class="QRCode">
                            <ul>
                                <li class="li1"><img src="@Url.Content("/Content/Styles/default/img/QRCode.png")" /><span>扫描下载</span></li>
                                <li class="li2"><img src="@Url.Content("/Content/Styles/default/img/QRCode.png")" /><span>扫描下载</span></li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <div class="downloadTools">
                <h4>推荐下载</h4>
                <ul>
                    <li class="li1"><span><b>Google Chrome</b><a href="javascript:void(0)">下载windows版</a></span></li>
                    @*<li class="li2"><span><b>Microsoft Edge</b><a href="javascript:void(0)">下载windows版</a></span></li>*@
                    <li class="li3"><span><b>Microsoft IE11</b><a href="javascript:void(0)">下载windows版</a></span></li>
                    <li class="li4"><span><b>移动端软件下载</b><a href="javascript:void(0)">易课+助手</a><a href="javascript:void(0)">互动课堂-教师</a><a href="javascript:void(0)">互动课堂-学生</a></span></li>
                    <li class="li4"><span><b>平台使用帮助</b><a href="javascript:void(0)">下载pc版使用手册</a><a href="javascript:void(0)">下载app使用手册</a></span></li>
                </ul>
            </div>
        </div>

        <div class="footer">
            <div class="statement">
                <p>Copyright © 2016 kingsunsoft right reserved 版权所有 粤ICP备02394723497号</p>
                <p>技术支持  深圳方直科技股份有限公司</p>
            </div>
        </div>
    </div>

    <script src="@Url.Content("/Content/Tools/jquery/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("/Content/Tools/jquery/jquery.placeholder.min.js")"></script>
    <script src="@Url.Content("/Content/Tools/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("/Content/Js/common.js")"></script>
    <!--[if lt IE 9]>
      <script src="@Url.Content("/Content/Tools/jquery/html5shiv.min.js")"></script>
      <script src="@Url.Content("/Content/Tools/jquery/respond.min.js")"></script>
    <![endif]-->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".userName").focus();
            if ($("#Account").val() != '') {
                $("#Account").val($("#Account").val());
            }
            if ($("#pwd2").val() != '') {
                $("#Password").val($("#pwd2").val())
            }
        });
    </script>
    <script type="text/javascript">
    if (navigator.appName == "Microsoft Internet Explorer") {
        if (navigator.appVersion.match(/MSIE 6/i) == "MSIE 6" || navigator.appVersion.match(/MSIE 7/i) == "MSIE 7" || navigator.appVersion.match(/MSIE 8/i) == "MSIE 8")
            if (window.confirm("温馨提示：您当前使用的浏览器版本过低或使用了兼容模式，建议升级浏览器的版本或切换为极速模式以呈现更好的页面效果。")) {
                window.open("http://windows.microsoft.com/zh-cn/internet-explorer/download-ie");
            }
    }
    </script>
</body>
</html>