
@{
    Layout = "~/Views/Shared/_LayoutTopLeft.cshtml";
    ViewBag.Subjects = Fz.Resource.Bll.ResourceUploadBll.GetSelectSubjects();
    ViewBag.Grades = Fz.Resource.Bll.ResourceUploadBll.GetSelectAllGradeID((int)Model.SubjectID);
    ViewBag.Editions = Fz.Resource.Bll.ResourceUploadBll.GetSelectEditionsBySubjectId((int)Model.SubjectID);
    Dictionary<int,string> ResourceStyle = Fz.Resource.Bll.ResourceUploadBll.GetResourceType();
}
@model Fz.Resource.VModel.MyResource.Form
<div class="rightCont">
@using (Html.BeginForm("Index", "Resource", FormMethod.Get, new { @class = "form-inline", id = "form1" }))
{
    <div class="filterC">
        <div class="searchC">
            <input type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["FileServer"]" id="FileServer" />
            @Html.HiddenFor(m => m.GridList.Pager.PageIndex)
            @Html.HiddenFor(m => m.GridList.Pager.PageSize)
            <div class="seleBox">
                @Html.DropDownListFor(m => m.SubjectID, new SelectList(ViewBag.Subjects, "key", "value"), new { @class = "form-control", @onchange = "SubjectChange(this)" })
                @Html.DropDownListFor(m => m.EditionID, new SelectList(ViewBag.Editions, "key", "value"), "全部版本", new { @class = "form-control", @onchange = "EditionChange(this)" })
                @Html.DropDownListFor(m => m.GradeID, new SelectList(ViewBag.Grades, "key", "value"), "全部年级", new { @class = "form-control", @onchange = "GradeChange(this)" })
            </div>

            <div class="selectF" style="width:280px">
                @Html.TextBoxFor(m => m.UnitName, new { @placeholder = "当前没有教材目录", @class = "UnitName", @readOnly = "true", @style="width:240px" })
                @*<input type="text" placeholder="请选择教材目录" readonly="readonly" />*@<a class="aS" onclick="DeleteUnit(this)">×</a>
                @Html.HiddenFor(m => m.UnitID, new { @class = "UnitID" })
                <div class="catalogD">                  
                </div>
            </div>
            <div class="textC">
                @Html.TextBoxFor(m => m.ResourceName, new { @placeholder = "请输入资源名称" })
                @*<input type="text" name="ResourceName" id="ResourceName" placeholder="请输入资源名称" />*@<a onclick="DeleteKey(this)">×</a>
            </div>
            <button type="button" onclick="Search()">查询</button>
        </div>
        <div class="filterD">
            <div class="filterCont">
                <label>资源格式：</label>                       
                <ul>
                    @Html.HiddenFor(m => m.ResourceStyle)  
                    <li><a href="javascript:void(0)" id="0">全部</a></li>
                    @foreach (var key in ResourceStyle.Keys)
                    {
                        <li><a href="javascript:void(0)" id="@key">@ResourceStyle[key]</a></li>
                    }                                     
                </ul>
            </div>
            <div class="sortSwitch">
                @*<a class="ss1" href="javascript:void(0)">名称</a>*@
                @Html.HiddenFor(m => m.OrderBy)   
                @if (Model.OrderBy == 1)
                {
                    <a class="ss2 on" href="javascript:void(0)">时间</a>
                }
                else
                {
                    <a class="ss2" href="javascript:void(0)">时间</a>
                }
            </div>
        </div>
    </div>
}
    <div class="resourceTable">
    @if (Model.GridList.Data.Count > 0)
    {
        <div class="tableHead clearfix">
            @if (Model.ResBelong == 2)
                {
                <div class="col-sm-1"><a class="checkbox selectAll"><input type="checkbox" />全选</a></div>
                    <div class="col-sm-5">
                        <button class="actBtn" id="ShareResource">分享</button>
                        @*<button class="download actBtn">下载</button>*@
                    </div>
            }
            else if (Model.ResBelong == 1)
            {
                @*<div class="col-lg-1"><a class="checkbox selectAll"><input type="checkbox" />全选</a></div>
                    <div class="col-lg-4"><button id="ResCollect">收藏</button></div>*@
            }
            else
            {
                <div class="col-sm-1">@*<a class="chechbox selectAll"><input type="checkbox" /></a>&nbsp;全选*@</div>
                    <div class="col-sm-5">
                        @*<button class="download actBtn">下载</button>*@
                    </div>
            }
            <div class="col-sm-6">@*<td colspan="2"><div class="seachBar"><input type="text" placeholder="结果中查询" /><input type="button" class="seachGo" /></div></td>*@</div>
        </div>
            @Html.Partial("_IndexGrid", Model.GridList.Data)
            <div class="tableFoot">
                @Html.Pager(Model.GridList.Pager)
            </div>
    }
    else
    {
        if (Model.ResBelong == 1)
        {
            <div class="emptyTip">空空如也...快去<a href="/ResourceSearch/Index/@Model.SubjectID"> 去资源库收藏资源</a>吧！</div>
        }
        else
        {
            <div class="emptyTip">空空如也...快去<a href="/ResourceUpLoad/Index"> 上传资源</a>吧！</div>
        }
    }
    </div>



</div>
@section Scripts{
    <script src="@Url.Content("/Content/Js/Resource.js")"></script>
}
