@model List<Fz.Core.VModel.DictSubject.Grid>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>学科名称</th>
            <th>排序值</th>
            <th>状态</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                string _IsEnabledName = Fz.Common.Dict.IsEnabled.GetVal(item.IsEnabled);
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Sort</td>
                    <td>
                        @if (item.IsEnabled)
                        {

                            <span class="label label-success">@_IsEnabledName</span>
                        }
                        else
                        {
                            <span class="label label-danger">@_IsEnabledName</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default btn-sm" title="编辑" data-toggle="modal" data-target="#myModal" data-backdrop="static"><i class="glyphicon glyphicon-edit"></i></a>
                        @if (!item.IsSystem)
                        {
                            <button class="btn btn-default btn-sm btnDelete" type="button" title="删除" dataid="@item.Id"><i class="glyphicon glyphicon-trash"></i></button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td class="nodata" colspan="4">@Fz.Common.Const.Grid_NoData</td></tr>
        }
    </tbody>
</table>